.menu-hamburger-container {
  position: static;
}

.menu-hamburger-container .menu-hamburger-toggler {
  z-index: 101;
  padding: 0 10px 0 0;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 24px;
  color: var(--green-rs-60);
}

.menu-hamburger-container .menu-hamburger-content {
  position: absolute;
  z-index:99;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  max-height: 80vh;
  flex-direction: column;
  border-top: 2px solid #fecd3a;
  background: #ededed;
  transition: padding-left 0.3s ease;
  overflow-y: auto;
}

.menu-hamburger-container .menu-hamburger-content .menu-hamburger-levels {
  display: flex;
  max-width: var(--layout-container-width);
  min-width: var(--layout-container-width);
  flex-direction: row;
  margin: auto;
}

.menu-hamburger-container .menu-hamburger-content .menu-hamburger-list {
  width: 20%;
  max-height: 80vh;
  padding: 20px 0px 20px 0px;
  border-right: 1px solid #cccccc;
  margin: 0;
  background: #f9f9f9;
  list-style: none;
  overflow-y: auto;
}

.menu-hamburger-container
  .menu-hamburger-content
  .menu-hamburger-list
  .menu-hamburger-item {
  cursor: pointer;
}

.menu-hamburger-container
  .menu-hamburger-content
  .menu-hamburger-list
  .menu-hamburger-item
  a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px 10px 20px;
  color: black;
  text-decoration: none;
}

.menu-hamburger-container
  .menu-hamburger-content
  .menu-hamburger-list
  .menu-hamburger-item
  .fa-chevron-right {
  padding-right: 10px;
  margin-left: 10px;
  color: #666;
  font-size: 12px;
}

@media (min-width: 769px) {
  .menu-hamburger-container
    .menu-hamburger-content
    .menu-hamburger-list
    .menu-hamburger-item:hover {
    background-color: var(--green-matriz-link);
  }

  .menu-hamburger-container
    .menu-hamburger-content
    .menu-hamburger-list
    .menu-hamburger-item:hover
    > a {
    color: white;
  }

  .menu-hamburger-container
    .menu-hamburger-content
    .menu-hamburger-list
    .menu-hamburger-item:hover
    > a
    .fa-chevron-right {
    color: white;
  }
}

.menu-hamburger-item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.menu-hamburger-link {
  color: black;
  text-decoration: none;
}

.menu-hamburger-expand-button {
  flex: 1;
  text-align: end;
  padding: 5px 10px;
  border: none;
  background: none;
  cursor: pointer;
  color: gray;
  font-size: 12px;
}

.menu-hamburger-submenu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-hamburger-submenu .menu-hamburger-item-content {
  padding-left: 40px;
}

.menu-hamburger-submenu .menu-hamburger-submenu .menu-hamburger-item-content {
  padding-left: 60px;
}

.menu-hamburger-submenu .menu-hamburger-submenu .menu-hamburger-submenu .menu-hamburger-item-content {
  padding-left: 80px;
}

.menu-hamburger-submenu .menu-hamburger-submenu .menu-hamburger-submenu .menu-hamburger-submenu .menu-hamburger-item-content {
  padding-left: 100px;
}

.menu-hamburger-list.level-even {
  background-color: rgb(237, 237, 237);
}

.menu-hamburger-list.level-odd {
  background-color: rgb(246, 246, 246);
}

.menu-hamburger-item-content.level-even {
  background-color: #f9f9f9;
}

.menu-hamburger-item-content.level-odd {
  background-color: #ededed;
}

.menu-hamburger-item-content.level-odd > a {
  color: black;
}

@media (max-width: 768px) {
  .menu-hamburger-container .menu-hamburger-content {
    top: 100%;
  }

  .menu-hamburger-container .menu-hamburger-content .menu-hamburger-levels {
    flex-direction: column;
    min-width: 100%;
    max-width: 100%;
  }

  .menu-hamburger-container .menu-hamburger-content .menu-hamburger-list {
    width: 100%;
    max-height: none;
    border-right: none;
    border-bottom: 1px solid #cccccc;
  }

  .menu-hamburger-container .menu-hamburger-content .menu-hamburger-mobile {
    border-bottom: none;
    max-height: 100%;
    overflow-y: auto;
    padding: 0;
  }

  .menu-hamburger-mobile .menu-hamburger-item {
    border-bottom: 1px solid #e0e0e0;
  }

  .menu-hamburger-mobile .menu-hamburger-item-content:hover {
    background-color: var(--green-matriz-link);
  }

  .menu-hamburger-mobile .menu-hamburger-item-content:hover > .menu-hamburger-link,
  .menu-hamburger-mobile .menu-hamburger-item-content:hover > .menu-hamburger-expand-button {
    color: white;
  }
}
