.s-wrapper {
  display: flex;
  width: 385px;
  height: 54px;
  align-items: center;
  padding: 0 15px;
  border-radius: 8px;
  background-color: #F3F3F3;
  border: 2px solid #CCC;
  place-content: space-between;
}

#s-logo {
  color: #1a7235;
  border: none;
  background-color: transparent;
}

#s-logo > svg {
  width: 20px;
  height: 23px;
}

.s-input {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-style: italic;
}

.s-input:focus {
  outline: none;
}
