@import '../variables.scss';

.br-input {
  position: relative;
  display: block;
  font-family: $font-family-base;

  > label {
    display: block;
    margin-bottom: 4px;
    font-size: 16px;
    font-weight: 400;
  }

  .input-wrapper {
    position: relative;
    display: flex;
    height: 40px;
    align-items: center;
    padding: 4px;
    border: 1px solid var(--Gray-gray-40, #888);
    border-radius: 4px;
    background: var(--Pure-pure, #fff);
    transition:
      border-color 0.2s ease,
      background-color 0.2s ease,
      box-shadow 0.2s ease;

    .input-icon-left {
      z-index: 2;
      display: flex;
      align-items: center;
      margin-left: 12px;
      color: #888;
    }

    .visibility-toggle {
      z-index: 2;
      display: flex;
      align-items: center;
      padding: 0 8px;
      border: none;
      background: none;
      cursor: pointer;

      svg {
        width: 18px;
        height: 18px;
        fill: #1a7235;
      }
    }

    input {
      height: 24px;
      flex-grow: 1;
      padding: 0 8px;
      border: none;
      background: transparent;
      color: #333;
      font-size: 16px;
      outline: none;

      &.padding-default {
        padding-left: 12px;
      }
      &.padding-default-no-eye {
        padding-right: 12px;
      }

      &::placeholder {
        color: var(--Gray-gray-40, #888);
        font-size: 16px;
      }
    }

    &:hover {
      background-color: #e6e6e6;
    }
  }

  &.danger .input-wrapper {
    padding: 3px;
    border: 2px solid #e52207;
  }

  &.success .input-wrapper {
    padding: 3px;
    border: 2px solid #168821;
  }

  &.disabled {
    cursor: not-allowed;

    .input-icon-left,
    .visibility-toggle,
    label,
    .input-wrapper {
      opacity: 0.45;
    }
    input {
      background: transparent;
      cursor: not-allowed;
      opacity: 1;
      &::placeholder {
        opacity: 0.45;
      }
    }
  }

  &.info .input-wrapper {
    padding: 3px;
    border: 2px solid #279b4a;
  }

  &.warning .input-wrapper {
    padding: 3px;
    border: 2px solid#FFCD07;
  }

  .feedback-message {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 4px;
    margin-top: 8px;
    color: white;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;

    svg {
      width: 16px;
      height: 16px;
      fill: currentColor;
    }

    &.danger {
      background: #e52207;
    }

    &.success {
      background: #168821;
    }

    &.info {
      background: #279b4a;
    }

    &.warning {
      background: #ffcd07;
      color: #333;
    }

    &.disabled {
      background: #ffcd07;
      color: #333;
    }
  }

  .auxiliary-text {
    display: block;
    margin-top: 8px;
    color: #000;
    font-size: 16px;
  }
}

.br-input:focus-within .input-wrapper {
  padding: 3px;
  border: 2px solid #c2850c;
}
