.btn-scroll {
  animation-name: appear;
  animation-timeline: scroll(y);
  &:hover {
    border-color: #fff !important;
    background-color: var(--green-matriz-link-activated) !important;
  }
}

/* Posição fixa do botão scroll */
.btn-scroll {
  position: fixed;
  z-index: 9999;
  right: 10%;
  bottom: 45px;
}

body.has-sidebar .btn-scroll {
  right: 385px;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
}

.header-wrapper .header .tools-wrapper {
  flex-direction: row !important;
}

.header {
  max-width: var(--layout-container-width) !important;
  padding: 0 var(--padding-default);
}

.header-wrapper .header .logo-nav-wrapper {
  align-items: center;
}
