.external {
  color: var(--green-rs-60);
}

main a {
  color: var(--green-rs-60) !important;
  text-decoration: none !important;
}

main a:hover {
  color: var(--green-rs-60) !important;
  text-decoration: underline !important;
}

.external::after {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  background-image: url('../../../public/Vector.svg');
  background-repeat: no-repeat;
  background-size: contain;
  content: '';
}
